a {
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
    color: #e03e3e;
    font-size: 1em; 
    font-weight: bold;
    padding: 20px 0px;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover {
    color: rgba(32, 32, 32, 0.24);
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
    text-shadow: 1px 1px 1px #000;
}

.menuList {
    display: flex;
    justify-content: start;
    margin-top: 0px;
    padding-top: 20px;
    margin-left: 30px;
    flex-grow: 1;
}

