
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.5 ease-in;
    transition-duration:1.5s;
}

.modalFone {
    width: 100vw;
    height: 100vh;
    background-color: rgba(150, 109, 48, 0.089);
}

.modalContent {
 position: absolute;
}

.modalText{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 15px;
    background-color: rgba(63, 63, 63, 0.397);
    height: 50vh;
    width: 50vw;
}

.modalActive {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: 1.5s ease-in;
}

