
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.5 ease-in;
}

.modalContent {
    position: absolute;
}

.modalFone {
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 31, 31, 0.288);
}

.modalText{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 15px;
    font-size: 25px;
    background-color: rgba(139, 92, 92, 0.884);
    height: 50vh;
    width: 50vw;
}

.modalActive {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease-in;
    z-index: 20;
}


