.conteiner {
    width: 100vhw;
    height: 100vh;
    background: url(https://www.teahub.io/photos/full/61-611247_wallpaper-linear-blue-highlight-gradient-pink-light-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
