@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,600;0,700;0,800;0,900;1,800&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background: url(https://www.teahub.io/photos/full/61-611247_wallpaper-linear-blue-highlight-gradient-pink-light-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color:black;
  cursor: default;
}

*  {
  font-family: 'Exo 2', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
  
